[submodule ".tmux"]
	path = .tmux
	url = https://github.com/gpakosz/.tmux.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/plexus/chemacs2.git
[submodule ".emacs-configs/doom-emacs"]
	path = .emacs-configs/doom-emacs
	url = https://github.com/hlissner/doom-emacs.git
