FILES

.vim/bundle
.vim/.netrwhist
.config/configstore
.config/htop
.config/git
.config/asciinema
.config/wireshark
.config/coc
.config/xbuild
.config/stetic
.config/NuGet
.config/Microsoft\\VisualStudio Services
.config/.mono
.docsets
.tmux/plugins
.tmux/resurrect
.config/neofetch
.config/pusher.json
.config/karabiner/automatic_backups
.config/nvim/autoload/plugged
.config/google-chrome

.spacemacs.d/.spacemacs.env

.doom.d/config.el

.emacs.d/config.el
.emacs.d/elpa
.emacs.d/auto-save-list
.emacs.d/straight
